@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
  height: 100vh;
  width: 100vw;

  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;

  /* background-image: url('image/apple-touch-icon.png'); */
}

header {
  grid-column: span 4;
  grid-row: 1;
  text-align:center;
}

footer {
  grid-column: 1 / 7;
  grid-row: 5;
  text-align: right;
	background-color: #DFE0E0;

  padding-right: 10px;
}

#container {
  grid-column: 2;
  grid-row: 2/5;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 4em;
  grid-gap: 4px;
  border: solid 2px black;
  padding: 10px;
}

#containerStart {
  grid-column: 1/-1;
  grid-row: 1/-1;
  /*

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 4em;
  grid-gap: 4px;
  border: solid 2px black;
  padding: 10px; */
  background-image: url("image/image_fond.png");
}


#map {
  z-index: 1;
  grid-row: 1/5;
  grid-column: 1/3;
}

#scores {
  grid-column: 3;
  grid-row: 2;
}

#inventaire {
  grid-column: 1;
  grid-row: 4;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 100%;
  padding-left:4px;
  padding-bottom: 4px;

  z-index: 3;

  /* background: url(image/inventaire.PNG) no-repeat;
  background-size: auto 100%; */

}

img {
    height:100%;
    z-index: 1;
}

h2 {
  grid-column: 2;
  grid-row: 3;
  text-align: center  ;
}


/*
BOUTON----------------------------------------------------------------------------
*/
.button {
  /* grid-column: 2;
  grid-row: 4; */
  margin: auto;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
  height:100px;
  width:200px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button:hover {
    color: rgba(255, 0, 0, 1);
    background-color: rgba(55, 40, 50, 1);
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/*
Menu----------------------------------------------------------------------------
*/
#bandeau {
	width=100%;
  margin: 0 auto;
  background-color: white;
	position: sticky;
	top: 0px;
}

#bandeau ul {
	list-style-type: none;
}

#bandeau ul li {
	float: left;
	width: 25%;
	text-aligh: center;
  position: relative;
}

#bandeau ul::after{
  content: "";
  display: table;
  clear: both;
}

#bandeau a {
	/*text-align: center;*/
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

#bandeau a:hover {
	color: orange;
	border-bottom: 2px solid gold;
}

/* https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-deroulant/ */
